 <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-menu (sidenavClose)="sidenav.close()"></app-menu><!--this is a place for us to add side-nav code-->
    </mat-sidenav>
   
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <app-head  (sidenavToggle)="sidenav.toggle()"></app-head>
    
      <main>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         <router-outlet></router-outlet>
         
      </main>
       </mat-sidenav-content>

  </mat-sidenav-container>
