<!--Error page starts-->
<section id="error">
  <div class="container-fluid">
    <div class="container">
      <div class="row full-height-vh">
        <!-- <div class="col-md-12 col-lg-3 ml-auto d-flex align-items-center">
          <div class="row text-center mb-3">
            <div class="col-12">
              <img src="assets/img/portrait/avatars/avatar-10.png" alt="User" width="300">
            </div>
          </div>
        </div> -->
        <div class="col-md-12  d-flex align-items-center justify-content-center">
          <div class="error-container">
            <div class="no-border">
              <div class="text-center text-bold-700 grey darken-2 mt-5" style="font-size: 11rem; margin-bottom: 4rem;">404</div>
            </div>
            <div class="error-body">
              <div class="row py-2 justify-content-center">
                <div class="col-8">
                  <a class="btn btn-brown btn-raised btn-block font-medium-2" routerLink="/auth">
                    <i class="ft-home"></i>Volver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->
